export(add.biopax.ids)
export(add.MULT.symbols.entrezids)
export(add.symbols.entrezids.mygene)
export(add_db_ids)
export(adjust_columns)
export(compare_pw_components)
export(expand.df.via.split.col)
export(load.biopax)
export(load.biopax.file)
export(load.biopax.pathways)
export(load.toxdb.genes.per.source)
export(MAIN_compare_toxdb_biopax)
export(merge.biopax.files)
export(merge.gene.comparison.results)
export(shrink.df.via.merge.col)
export(update_RIGbiopax)
export(writeBiopax_Rancho)
